.chat-view {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chat-view:has(.reasoning-bar) {
  & .chat-hero {
    /* opacity: 0; */
    transition: opacity 0.3s ease-in-out;
    /* scale: 9 */
  }
}

.chat-input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  max-width: 600px;
  margin: 0 auto;
}
.chat-text-input {
  width: 100%;
  border: none;
  background: transparent;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  &:focus {
    outline: none;
  }
}

.chat-messages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}

.message-container {
 padding: 0 16px;
 border-radius: 10px;
 margin: 0 var(--m);
 &:has(.message-from-user) {
   border: 1px solid #ccc;
  margin-left: auto;
 }
}

.chat-messages.message-from-user {
  text-align: right;
}


.chat-input-toolbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  & .chat-send-button {
    margin-left: auto;
    display: flex;
  }
  & .chat-text-input {
    border: none;
    background: transparent;
  }
}

.reasoning-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
}
.reasoning-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  width: 100%;
}

