:root {
  color-scheme: light dark;
  --app-text: rgba(255, 255, 255, 0.87);
  --app-bg: #242424;
  --reasoning-shimmer-0: rgba(255, 255, 255, 0.25);
  --reasoning-shimmer-50: rgba(255, 255, 255, 0.75);
  --reasoning-shimmer-100: rgba(255, 255, 255, 0.25);

  --font-size-base: 

  --font-size-sm: 16px;
  --font-size-md: 20px;
  --font-size-lg: 24px;
}
