.chat-input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.chat-text-input {
 border: none;
 background: transparent;
}

.chat-send-button {
  
}
